/****************************** Global variables ****************************/
:root{
	/* media queries */
	--sm-view-port : 36rem;
	--md-view-port : 48rem;
	--lg-view-port : 62rem;
	--xl-view-port : 75rem;
	--xxl-view-port : 87.5rem;
}


/***************************** Error page [Start]****************************/
#error-page {
	background-color: #f8f9fa;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

#error-page .error-container {
	max-width: 600px;
	text-align: center;
	padding: 2rem;
	background: #fff;
	border-radius: 1.5rem;
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
}

#error-page .error-icon {
	font-size: 5rem;
	color: #0d6efd;
}

#error-page .error-code {
	font-size: 6rem;
	font-weight: bold;
	color: #212529;
}

#error-page .error-text {
	font-size: 1.25rem;
	color: #6c757d;
}

#error-page .btn-home {
	margin-top: 1.5rem;
}

/***************************** Error page [End]****************************/


/***************************** Login page [Start]****************************/

.login-img{
	width: 3rem;
}
.card-title{
		background: linear-gradient(90deg, #6D28D9, #14B8A6);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
}
.invalid-feedback{
	font-size: 0.8rem;
	font-weight: normal;
}
form{

}
.submit{
	background: linear-gradient(90deg, #6D28D9, #14B8A6);
}

/***************************** Login page [End]****************************/


/*** Dashboard app layout ***/
#app {

}

main .screen {
	
}
/* Side bar */
#sidebar{
	max-width: fit-content;
}
nav .navbar-brand img{
	max-width: 2rem;
}
nav #sm-navbar{

}
nav .offcanvas{
	max-width: fit-content;
}

@media (min-width: 36rem) and (max-width: 48rem) {
  #sidebar button span{
		display: none;
	}
}

.table>:not(caption)>*>*{
	padding: 0rem;
}




/* Class Management */
#classManagement {

}
#classManagement tr:has(td:hover) *{
	background-color:rgb(164, 227, 252);
	transition: .3s;
}